<!DOCTYPE html>
<html lang="en">

<head>
  <!-- metadata elements -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css">
  <title>Tribute Page | Helen Keller</title>
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]--> 
</head>

<body>
  <!-- page contents -->
  <main id="main">
    
    <!-- page header -->
    <section>
      <header id="title">
        <h1>Helen Keller</h1>
      </header>
      <p>
        American author, political activist, and lecturer
      </p>
    </section>

    <!-- figure -->
    <figure id="img-div">
      <img id="image" src="https://www.perkins.org/sites/default/files/styles/interior_page_image__519_x_374_/public/helen-and-anne.jpg?itok=57OjUW_t" alt="Helen Keller with teacher, Anne Sullivan"> <br>
      <figcaption id="img-caption">In May of 1888, Anne Sullivan brought Helen Keller to Perkins School for the Blind, where a new world of friendship began.
      </figcaption>
    </figure>

    <!-- page section - tribute timeline and quote -->
    <section id="tribute-info">
      <h2>Here's a time line of Helen's life:</h2>

      <ul>
        <li><b>1880</b> - Born on June 27, 1880, in Tuscumbia, Alabama.</li>
        <li><b>1882</b> - Contracts an unknown illness, at 19 months old, that leaves her both deaf and blind.</li>
        <li><b>1887</b> - Meets Sullivan and learns her firts word, "d-o-l-l". "The mystery of language is revealed to me" --Helen.</li>
        <li><b>1888</b> - Attends the Perkins Institute for the Blind.</li>
        <li><b>1894</b> - Moves to New York, with Sullivan, to attend the Wright-Humason School for the Deaf.</li>
        <li><b>1896</b> - Returs to Massachusetts, and enters The Cambridge School for Young Ladies. </li>
        <li><b>1900</b> - Enters Radcliffe College of Harvard. University.</li>
        <li><b>1903</b> - Publishes her first book, an autobiography, <i>The Story of My Life</i></li>
        <li><b>1904</b> - Graduats from Harvard University. First deaf-blind person to earn a Bachelor of Arts degree.</li>
        <li><b>1909</b> - Becomes a political activist. Actively campaigns and writes in support of the working class for over a decade</li>
        <li><b>1915</b> - Establishes the Helen Keller International (HKI) organization with George A. Kessler. This organization is devoted to research in vision, health and nutrition.</li>
        <li><b>1946</b> - Visits 35 countries in the next decade to support blind and deaf awareness.</li>
        <li><b>1964</b> - Receives the Presidential Medal of Freedom, one of the United States' two highest civilian honors.</li>
        <li><b>1968</b> - Dies at the age of 87.</li>
      </ul>

      <blockquote cite="https://www.perkins.org/history/people/helen-keller"><p>
        "The most important day I remember in all my life is the one on which my teacher, <span>Anne Mansfield Sullivan</span>, came to me. I am filled with wonder when I consider the immeasurable contrast between the two lives which it connects." -- Helen Keller
        </p>
      </blockquote>
    </section>

    <!-- page section - resource content -->
    <section>
      <h2>To find out more about Helen Keller, head over to
        <a id="tribute-link" target="_blank" href="https://en.wikipedia.org/wiki/Helen_Keller">
          Wikipedia.com
        </a>
      </h2>
    </section>
  </main>

  <!-- page footer -->
  <footer>Carla-001® 2020</footer>
</body>

</html>